{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "app/css/materialize.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
      <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/">one</a></li>
          <li><a href="/">two</a></li>
          <li class="divider"></li>
          <li><a href="/">three</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper grey">
            <a href="/" class="brand-logo">Bill's Diner</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'kitchen_view' %}">Kitchen</a></li>
              <li><a href="{% url 'server_view' %}">Server</a></li>
              <li><a href="{% url 'owner_view' %}">Owner</a></li>
              {% if request.user.is_authenticated %}
              <li class="navbar-text"><strong>User is logged in as: {{ request.user }}</strong></li>
              {% endif %}
      <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right"></i></a></li>
            </ul>
          </div>
        </nav>
    <div class="container">
      {% block content %}
        Default Content
      {% endblock %}
    </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static "app/js/materialize.min.js" %}"></script>
      <script type="text/javascript" src="{% static "app/main.js" %}"></script>

  </body>
</html>
