{% extends "base.html" %}


{% block content %}
<div class="page-header">
  <h3>Bill's Diner <small>Server Menu</small></h3>
</div>
<div class="container">
  <div class="row">
    {% for category in category_list %}
      <div class="col-lg-5">
        <ul class="list-unstyled">
            <li><h5>{{category}}</h5></li>
              {% for item in category.menuitem_set.all  %}
              <ul>
                <li><h5><a href="{% url 'server_view' %}">{{item}}</a></h5></li>
              </ul>
              {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
